* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

body {
  background: #fdfcfa;
  color: #111;
}

/* NAVBAR */
.navbar {
  display: flex;
  justify-content: space-between;
  padding: 20px 60px;
  align-items: center;
}

.navbar nav a {
  margin: 0 12px;
  text-decoration: none;
  color: #333;
}

.btn-dark {
  background: black;
  color: white;
  padding: 8px 16px;
  border: none;
  border-radius: 6px;
}

/* HERO */
.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 60px 8%;
    background: #fff4dc;
}

.hero-text {
  max-width: 520px;
}

.hero-text h1 {
  font-size: 48px;
  line-height: 1.2;
  margin-bottom: 20px;
}

.email-box {
  display: flex;
  margin: 20px 0;
}

.email-box input {
  padding: 12px;
  width: 260px;
  border: none;
  border-radius: 6px 0 0 6px;
}

.email-box button {
  padding: 12px 20px;
  border: none;
  background: black;
  color: white;
  border-radius: 0 6px 6px 0;
}

.stats {
  display: flex;
  gap: 30px;
  margin-top: 20px;
}

.stats div span {
  display: block;
  font-size: 12px;
  color: gray;
}

.hero-image img {
  width: 550px;
  border-radius: 20px;
  background: #ffd84d;
  padding: 20px;
}

/* PARTNERS */
.partners {
  display: flex;
  justify-content: center;
  gap: 40px;
  padding: 30px;
  color: gray;
}

/* SERVICES */
.services {
  text-align: center;
  padding: 60px;
}

.service-cards {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 40px;
}

.card {
  width: 260px;
  padding: 30px;
  border-radius: 16px;
}

.card h3 {
  margin-bottom: 10px;
}

.card button {
  margin-top: 15px;
  border: none;
  padding: 8px 14px;
  border-radius: 6px;
  cursor: pointer;
}

.purple { background: #e9e6ff; }
.yellow { background: #fff2c6; }
.pink { background: #ffe0e9; }

/* NEWSLETTER */
.newsletter {
  background: #fff;
  padding: 60px;
  text-align: center;
}

.newsletter-box {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
}

.newsletter-box input {
  padding: 10px;
  width: 200px;
}

.newsletter-box button {
  padding: 10px 18px;
  background: black;
  color: white;
  border: none;
  border-radius: 6px;
}
